@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(82, 82, 82);   
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #213159;
}

.nav1 {
    ul{
        margin: 0;
    }

    li {
        display: inline;
    }
    
    a {
        padding: .5em;
        color: white;
        text-decoration: none;
        display: inline-block;
    }

    a:hover {
        background-color: rgba(255, 255, 255, .2);
    }

}

.main-nav {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .2);

    li{
        padding: 0 5%;
    }
}


.header1 {
    background-image: url(../img/fundo.JPG);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;

    padding-bottom: 1px;

    ul{
        background-color:#213159;
    }

    h1 {
        margin-top: 16%;
        margin-bottom: 17%;
        text-align: center;
        color: white;
        font-size: 5em;
        margin-left: 15%;
        margin-right: 15%;
        border: 2px solid white;
        padding-top: 15px;
        padding-bottom: 15px;

    }
}

.conteudo{
    margin: 1.5em;
    .img1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-radius: 5px;
        border: 2px solid white;
        
    }
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1.5em;

    .ne1{
        color: white;
    }

    .Titulo-conteudo{
        color: white;
    }

    .img1{
        border: none;
    }

    p{
        color: white;
    }
}

.Titulo-conteudo{
    font-size: 2em;
}

.main-footer{
    background-color: rgba(34,114,175,255);
    padding: .25em 0;

    .titulo-footer{
        color: white;
    }

    .footer-container{
        align-items: center;
        display: flex;
        ul{
            flex-grow: 1;
            text-align: end;
            li{
                padding: 0 0.5em;
                a{
                    border-radius: 5%;
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }
    }
}

.Titulo-novosProd{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 25px 30%;
    background-color:#213159;
    //border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    box-shadow: none;
}

a{
    text-decoration: none;
}

.Titulo-novosProd:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.2s ease-in-out;
}

.main-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
    margin:20px auto;

    .product-margin{
        margin: 30px;
        padding: 10px;
        border-radius: 10px;
        //background-color: rgba(34,114,175,255);
        //background-color:#213159;
        background-color:#fff;
        //background-color: #29657d;
        //border: 2px solid #7690ae;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

        .img-novos{
            margin: 15px;
            margin-bottom: 30px;
            //border: 1px solid rgb(201, 201, 201);
            border-radius: 40px;
        }

        .categoria, img:hover{
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            transition: all 0.2s ease-out;
        }

        .categoria{
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            border: 2px solid #d21627;
            border-radius: 27px;
            padding: 12px 30px;
            margin-left: 25%;
            margin-right: 25%;
            position: relative;
            background: #fff;
            transition: all 0.05s ease-in-out;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            top: 80%;

            span{
                color: #d21627;
            }
        }
        .categoria:hover{
            background-color: #d21627;
            border: 2px solid #fff;
            transition: all 0.2s ease-out;
            span{
                color: #fff;
            }
            
        }

        a{
            text-decoration: none;
            span{
                display: block;
                color: #fff;
            }
        }

        .titulo-img{
            text-align: center;
            //color: rgba(34,114,175,255);
            //color: #fff;
            color: #213159;
            font-size: 1.4em;
            font-weight: bold;
            padding: 10px 0px;
            margin: 0 15px;
            border-radius: 27px;
            //border: 2px solid #efff60;
        }

        .titulo-img:hover{
            color: #d21627;
            transition: all 0.2s ease-in-out;
        }

        .txt-img{
            text-align: center;
            overflow-wrap: break-word;
            word-wrap: break-word;
            font-size: 13px;
            margin-top: 70px;
            margin-bottom: 10px;
            

            span{
                font-size: 1.3em;
                font-weight: bold;
                color: #213159;
            }

            button{
                margin-left: 30px;
                border-radius: 3px;
                border: 0;
                font-weight: bold;
                padding: 7px;
                //border: 2px solid #efff60;
                background-color: rgb(82, 146, 82);
                color: white;
            }
            button:hover{
                background-color: green;
            }

        }
    }
}

.section-Prod{
    max-width: 1800px;
    margin: 0 auto;
}

.header-carrinho{
    font-weight: bold;
    font-size: 1.2em;

}

.coluna-carrinho{
    border-bottom: 1px solid #fff;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.carrinho-div{
    display: flex;

    .carrinho-item{
        width: 45%;
    }
    
    .carrinho-preço{
        width: 20%;
        font-weight: bold;
        font-size: 1.2em;
    }
    
    .carrinho-quantidade{
        width: 35%;
    } 

    .titulo-item{
        margin-left: 15px;
        font-weight: bold;
        font-size: 1.3em;
    }

    .img-item{
        border: 1px solid #fff;
        border-radius: 5%;
        width: 80px;
        height: auto;
    }

    .btn-item{
        margin-left: 5px;
        background-color: rgb(216, 107, 107);
        color: white;
        border: none;
        height: 38px;
    }
    .btn-item:hover{
        background-color: rgb(216, 79, 79);
    }

    .qtd-input-item{
        border: 1px solid #fff;
        width: 40px;
        margin-left: 25px;
        font-size: 1.2em;
    }

}

.carrinho-div:last-child .coluna-carrinho{
    border-bottom: none;
}

.carrinho-div:last-child{
    border-bottom: 1px solid #fff;
}

.carrinho-div{
    span{
        color: #fff;
    }
}

.itens-carrinho{
    span{
        color: #fff;
    }
}

.total-carrinho{
    text-align: end;
    margin: 25px 0;
    .titulo-total{
        font-weight: bold;
        font-size: 1.4em;
        margin-right: 20px;
        color: #fff;
    }
    .preço-total{
        margin-right: 40px;
        font-size: 1.2em;
        color: green;
    }
    .btn-comprar{
        margin-right: 20%;
        padding: 10px;
        font-size: 1.1em;
        font-weight: bold;
        background-color: rgb(82, 146, 82);
        color: white;
        border: 0px;
    }
    .btn-comprar:hover{
        background-color: green;
    }
}

.img-quadras{
    border-radius: 5px;
    margin: 35px;
}

  